body {
  margin: 8rem;
}

.container {
  border-radius: 25px;
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 350px;
  width: 800px;
  align-items: center;
  justify-content: center;
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-item {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  width: 14rem;
  height: 310px;
  align-items: center;
  align-content: center;
  padding-right: 1em;
}

.item-1 {
  border-right: 1px solid gray;
  border-color: gray;
}

.item-2 {
  border-right: 1px solid gray;
  border-color: gray;
}

